<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="classes" thread-count="2">
    <test name="Parallel execution">
        <classes>
            <class name="tests.InputFormTest"></class>
            <class name="tests.SelectDropDownTest"></class>
            <class name="tests.InputFormTestFirefox"></class>
            <class name="tests.SelectDropDownTestFirefox"></class>
        </classes>
    </test>
</suite>